.chat-row {
    display: flex;
    margin: 5px;
    width: 100%;
}

.row-reverse {
    flex-direction: row-reverse;
}

.chat-bubble {
    font-family: "Source Sans Pro", "Segoe UI", "Roboto", sans-serif;
    padding: 5px 10px;
    margin: 0 7px;
    max-width: 70%;
    z-index: 2;  /* This can be adjusted or centralized if needed */
}

.ai-bubble {
    background: rgb(240, 242, 246);
    border-radius: 10px;
    margin-bottom: 20px; 
}

.human-bubble {
    background: linear-gradient(135deg, rgb(220, 181, 255) 0%, rgb(176, 116, 255) 100%);
    color: white;
    border-radius: 20px;
}

.chat-icon {
    border-radius: 5px;
}

.fade-in {
    animation: fadeIn 3s ease-in-out;
}

@keyframes dropDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer {
    color: #6c757d;
    text-align: center;
    padding: 2px 0;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.1);
    z-index: 10;
}

.fixed-chat-form {
    position: relative;
    padding-bottom: 30px;
}

.stSpinner {
    margin-top: 10px;
}